{% load staticfiles %}

<script src="{% static 'js/register/signup_login.js' %}"></script>

<li class="head-dpdn">
								<i class="fa fa-phone" aria-hidden="true"></i> Call us: +977-980-1074992 
							</li> 
							<li>
    <a class="js-user-signup" href="#" data-url="{% url 'user-signup' %}"> <i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
    </li>
    <li>
    <a class="js-user-login" href="#" data-url="{% url 'login' %}"> <i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    </li>

<li class="head-dpdn">
								<a href="#"><i class="fa fa-gift" aria-hidden="true"></i> Offers</a>
							</li> 
